.pageLogin{

    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background-image: url('../../assets/background.jpg');
    background-position: center;
    color: white;

    .content{
        position: relative;

        max-width: 28rem;
        height: 200px;

        margin-left: 100px;
        margin-top: 80px;

        .title{

            img{

            }
            span{
                font-weight: 300;
                font-size: 28px;
                margin-left: 8px;
            }
        }

        .formLogin{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            .wrongLogin{
                width: 239px;
                height: 48px;

                background: rgba(255, 255, 255, 0.4);
                border-radius: 4px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }
    }
}

@media (max-width: 600px){
    .pageLogin{
        justify-content: center;
        align-items: center;
        .content{
            margin: 0;
        }
    }
}