.pageHome{
    width: 100vw;
    height: 100vh;
    background: #E0E6EE;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .container{
        width: 85%;
        height: 80%;
        margin-bottom: 3.125rem;

        header{
            width: 100%;
            height: 3.75rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title{
                width: 11.25rem;
                img{
                    height: 1.5rem;
                }
                span{
                    margin-left: 0.625rem;
                    font-weight: 300;
                    font-size: 1.75rem;
                }

            }
            .userWithLogout{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 11.25rem;
                height: 2.18rem;

                .user{
                    font-weight: 400;
                    font-size: 0.75rem;

                    span{
                        width: 100%;
                        font-weight: bold;
                    }
                }
                .buttonLogout{
                    width: 2rem;
                    height: 2rem;  
                    background: none;
                    cursor: pointer;
                    border: 1px solid rgba(0,0,0,0.5);
                    border-radius: 15px;

                    text-align: center;

                    img{
                        width: 1.125rem;
                        height: 1.125rem;
                        margin-top: 0.3125rem;
                    }

                    &:hover{
                        background: rgba(0,0,0,0.1)
                    }
                }
            }
        }

        .content{
            // height: 70vh;
            width: 90vw;
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap:1.5rem;

        }

        .turnPage{
            position: relative;
            width: 100%;
            height: 3.5rem;
            margin-top: 0.625rem;
            
            display: flex;
            justify-content:flex-end;
            align-items: center;

            .text{
                margin-right: 0.625rem;
                font-weight: 400;
                font-size: 0.75rem;

                span{
                    font-weight: bold;
                }
            }

            i{
                cursor: pointer;
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: 15px;
                width:1.875rem;
                height: 1.875rem;          
                
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background: rgba(0,0,0,0.1)
                }

                .previewArrow,.nextArrow{
                    width: 0.625rem;
                    height: 0.625rem;
                }

                .previewArrow{
                    transform: rotate(180deg);
                }

            }

            .disabled{
                cursor: not-allowed;
                img{
                    opacity: 0.5;
                }
            }

            .previewArrow-container{
                margin-right: 0.5rem;
            }
            .nextArrow-container{
                order: 3;
            }
        }
    }

    
}

@media(max-width:450px){
    .pageHome{
        .container{
            header{
                .userWithLogout{
                    width: 2rem;
                    .user{
                        width: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

@media(max-width:420px){
    .pageHome{
        .container{
            .turnPage{
                justify-content: center;
                margin-left: 1.5rem;
                .previewArrow-container{
                    order: 1;
                }
                .text{
                    order: 2;
                }
            }
        }
    }
}