.containerInput{
    height: 60px;
    width: 26rem;

    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(2px);
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    >span,input{
        margin-left: 0.625rem;
        margin-top: 0.3125rem;
    }

    >span{
        font-weight: 400;
        font-size: 0.75rem;
        opacity: 0.5;
    }

    input{
        max-width: 65%;
        color: white;

        text-decoration: none;
        background:none;
        border: none;
    }
    .buttonSend{
        color: #B22E6F;
        font-weight: 500;
        font-size: 1rem;
        margin-left: 0;

        position: relative;
        left: 19rem;
        bottom:2.5rem;
        background: white;

        border-radius: 44px;
        width: 6rem;
        min-height: 2.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}